.article {
  background-color: $white;
  color: $primary-font;
  border-radius: 2px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  width: 90%;
  margin: 2rem auto;
}

.article_body {
  font-size: 80%;
  padding: 2rem;
}

.article_button {
  background-color: $secondary-d;
  display: block;
  padding: 2rem;
  color: $white;
  text-align: center;
  font-size: $l-size;
  text-decoration: none;
  font-weight: 700;
}

@media (min-width: $desktop-breakpoint) {
  .article {
    width: 60%;
  }
}
