.header {
  height: 40px;
  background: $primary-d;
  color: $white;
  padding: 2rem;
  display: flex;
  align-content: center;
  z-index: 3;
}

.header__icon {
  margin: -0.75rem 1rem 0 -0.5rem;
  height: 200%;
}

.header__icon>img {
  height: 80%;
  clip-path: circle(45% at 50%);
}

.header__title {
  font-size: $m-size;
}

.header__subtitle {
  color: darken($white, 10%);
  font-size: $s-size;
}

@media (min-width: $desktop-breakpoint) {
  .header {
    height: 60px;
    padding: 2rem;
  }
  .header__icon {
    margin: -0.5rem 2rem 0 -0.5rem;
    height: 160%;
  }
  .header__title {
    font-size: $l-size;
    font-weight: thin;
  }
  .header__subtitle {
    font-size: $s-size;
  }
}
