// Body Colors
$content-bg: #303030;
$nav-bg: #212121;
$card-bg: #424242;
$primary: #2196f3;
$accent: #333745;
$active: #2196f3;
$hover: #eee;
// Font Colors
$font-100: #fff;
$font-70: #bbb;
$font-50: #888;
$font-invert: #111;

// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;
