html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%; }

html {
  font-size: 75%; }

body {
  font-family: sans-serif;
  font-size: 1.5rem; }

button {
  cursor: pointer; }

button:disabled {
  cursor: default; }

#root {
  flex: 1 1 0; }

.page_container {
  display: flex;
  flex-direction: column;
  height: 100%; }

.body_container {
  display: flex;
  height: 100%; }

.content_container {
  flex: 1 0 auto;
  background-color: #F5F5F6;
  color: #fff;
  width: calc(100% - 80px);
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center stretch; }

.nav_container {
  padding-top: 2rem;
  flex: 0 0 80px;
  z-index: 1;
  background-color: #34515e;
  transition: 0.5s;
  display: flex;
  flex-direction: column; }
  .nav_container:hover, .nav_container:focus {
    transition: all 0.1s ease-in-out;
    transform: translateX(0px); }

body {
  display: flex;
  flex-direction: column;
  align-items: stretch; }

p {
  word-wrap: break-all;
  white-space: normal; }

.header {
  height: 40px;
  background: #34515e;
  color: #fff;
  padding: 2rem;
  display: flex;
  align-content: center;
  z-index: 3; }

.header__icon {
  margin: -0.75rem 1rem 0 -0.5rem;
  height: 200%; }

.header__icon > img {
  height: 80%;
  clip-path: circle(45% at 50%); }

.header__title {
  font-size: 1.5rem; }

.header__subtitle {
  color: #e6e6e6;
  font-size: 1.25rem; }

@media (min-width: 45rem) {
  .header {
    height: 60px;
    padding: 2rem; }
  .header__icon {
    margin: -0.5rem 2rem 0 -0.5rem;
    height: 160%; }
  .header__title {
    font-size: 2.5rem;
    font-weight: thin; }
  .header__subtitle {
    font-size: 1.25rem; } }

.nav_link {
  margin: 0 auto;
  padding: 15px 0;
  width: 100%;
  font-size: 0.75rem;
  font-weight: 800;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .nav_link .nav_link:first {
    margin-top: 20px; }

.nav_link > span {
  padding: 0.25rem; }

.nav_link.active, .nav_link.active > span {
  color: #111;
  background-color: #aaa; }

@media (min-width: 45rem) {
  .nav_link {
    transition: 0.3s; }
  .nav_link > span {
    transform: translateX(-200px);
    transition: 0.1s; }
  .nav_link.active, .nav_link.active > span {
    transform: translateX(0px);
    transition: 0.1s; }
  .nav_link:hover > span {
    transform: scale(1.1);
    color: #fff; } }

.article {
  background-color: #fff;
  color: #000;
  border-radius: 2px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  width: 90%;
  margin: 2rem auto; }

.article_body {
  font-size: 80%;
  padding: 2rem; }

.article_body > video {
  width: 100%; }

.article_button {
  background-color: #5870cb;
  display: block;
  padding: 2rem;
  color: #fff;
  text-align: center;
  font-size: 2.5rem;
  text-decoration: none;
  font-weight: 700; }

@media (min-width: 45rem) {
  .article {
    width: 60%; } }

.content_header {
  padding: 3rem;
  background-color: #22353d; }

.content_header__title {
  font-weight: bold;
  font-size: 4rem;
  color: #fff; }

.content_header__subtitle {
  font-size: 2rem;
  color: #fff; }

.card_container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center; }

.card {
  background-color: #fff;
  color: #000;
  border-radius: 2px;
  margin: 2rem;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  padding: 2rem; }

@media (min-width: 45rem) {
  .card_container {
    flex-direction: row; }
  .card {
    width: 25%; } }

#podcast__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

#podcast__episodes_container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%; }

.podcast__episode {
  background-color: #fff;
  color: #000;
  border-radius: 2px;
  margin: 1rem auto;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  width: 85%;
  overflow: hidden; }

.podcast__episode_title {
  display: block;
  width: 100%;
  background-color: #5870cb;
  color: #fff;
  font-size: 1.5rem;
  padding: 1rem; }

.podcast__episode_details {
  padding: 1.5rem; }

.podcast__episode_description {
  font-size: 1.25rem;
  overflow: scroll;
  overflow-x: hidden;
  text-overflow: ellipsis;
  height: 15rem; }

.podcast__episode_description::-webkit-scrollbar {
  width: 4px;
  background-color: #fff; }

.podcast__episode_description::-webkit-scrollbar-thumb {
  width: 4px;
  border-radius: 2px;
  background-color: #8c9eff; }

.podcast__episode_listen {
  display: flex;
  width: 100%; }

.podcast__episode_listen audio {
  flex: 1; }

.podcast__search {
  width: 85%;
  padding: 2rem;
  margin: 0 auto; }

.podcast__search form {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column; }

.podcast__search .podcast_search__field {
  height: 3rem;
  font-size: 2.5rem;
  padding: 0.5rem; }

.podcast__search .podcast_search__button {
  background-color: #5870cb;
  border: none;
  color: #fff;
  height: 3rem;
  margin-top: 1rem; }

.podcast__search .podcast_latest__button {
  background-color: #5870cb;
  border: none;
  color: #fff;
  height: 3rem;
  margin-top: 1rem; }

.podcast__pagination {
  display: flex;
  flex-direction: row; }

.podcast__pagination_display {
  border: none;
  color: #000;
  height: 3rem;
  margin-top: 1rem;
  padding: 1rem; }

.podcast__pagination_button {
  background-color: #607d8b;
  border: none;
  color: #fff;
  height: 3rem;
  margin: 1rem 0.5rem 0 0.5rem;
  width: 4rem;
  font-size: 1.25rem; }

.podcast__pagination_button:disabled {
  background-color: #bbb; }

@media (min-width: 45rem) {
  #podcast__episodes_container {
    flex-direction: row; }
  .podcast__episode {
    background-color: #fff;
    color: #000;
    border-radius: 2px;
    margin: 2rem;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    width: 30%;
    overflow: hidden; }
  .podcast__search .podcast_search__field {
    width: 50%; }
  .podcast__search .podcast_search__button {
    width: 10%;
    margin: 0 1rem;
    height: auto; }
  .podcast__search .podcast_latest__button {
    width: 10%;
    margin: 0;
    height: auto; }
  .podcast__search form {
    flex-direction: row; }
  .podcast__pagination_button {
    width: 10rem;
    font-size: 1.5rem; } }
